*{
    background-color: #d4e2f3;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
h1,h2{
   font-family: vioda libre ;
   font-size: 27px;
   
}
img{
    width: 90px;
    border-radius: 50px;
}
.Header{
    display: flex; 
    flex-direction: column;
      
}
