*{
    background-color: #d4e2f3;
     margin: 0px;
    padding: 0px;
    border: 0px; 
    font-family: vioda libre;
}
#Header{
    display: inline-flex;
    margin-top: 100px;
}
h1{
   font-size: 27px;
}
#img{
    width: 90px;
    border-radius: 50px; 
}
.body{
    margin: 50px;
}
.caixa{
    border-radius: 10px;
    background-color: #ffffff;
    padding: 1px;
    width: 850px;
    height: 270px; 
    margin-left: 520px;
    margin-top: 20px;
}
h4{
    background-color: #ffffff;
    margin-left: 720px;
    margin-top: 10px;
}
u{
    background-color: #ffffff;
}
h2{
    margin-top: 15px;
    font-family:  vioda libre;
    font-size: 27px;
    background-color: #ffffff;
}
#imge{
    margin-top:50px ;
    width: 130px; 
}
.imge{
    margin: 30px;
}
.empre{
    margin-top: 130px;
    display: flex;
}
#em{
    margin-left: 350px;
    width: 500px;
    height: 300px;
}
#emp{
    margin-top: 70px;
    font-size: 20px;
    width: 550px;
    margin-left: 60px;
}
.desta{
    display: flex;
}
#dest{
    width: 500px;
    margin-top: 90px;
    margin-left: 400px;
}
#des{
    margin-left: 80px; 
    width: 500px;
    height: 300px;
}
#no{
    margin-left: 390px;
    width: 300px;
}
.notu{
    display: flex;
    margin-top: 70px;
}
.noc{
    margin-top: 50px;
    margin-left: 250px;
}
#email{
    margin-top: 30px;
    border-style: solid;
    border-width: 3px;
    width: 500px;
    text-align: left;
    padding-top: 8px;
    padding-left: 12px;
    height: 25px;
    border-radius: 17px;
}
#h3-1{
    font-size: 27px;
}
#h3-2{
    margin-right: 35px;
    font-size: 15px;
}
#ins{
    background-color: black;
    color: #ffffff;
    width: 110px;
    height: 25px;
    padding-top: 3px;
    font-size: 18px;
    margin-left: 200px;
    margin-top: 30px;
}